# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=crlf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.ASM text
*.MAC text


# Denote all files that are truly binary and should not be modified.
*.COM binary
.gitattributes binary
